.menu-list__item-open-list.active {
  background-color: #001758;
  color: #ffffff;
}

.menu-list__button-open-list.active {
  color: #ffffff;
}

.menu-list__button-open-list.active .menu-ico__svg {
  fill: #ffffff;
}

.menu-sublist {
  width: 100%;
  list-style: initial;
  display: none;
  padding-bottom: 10px;
  padding-left: 70px;
  background-color: #001758;
  color: #ffffff;
}

.menu-sublist.show {
  display: block;
}

.menu-sublist__btn {
  position: relative;
  background-color: inherit;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}
