.menu-btn {
  position: relative;
  width: 32px;
  height: 26px;
  border: 0;
  background: inherit;
  cursor: pointer;
}


.menu-btn__hamburger {
  position: absolute;
  left: 0;
  top: 12px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  &::before,
  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 32px;
    height: 2px;
    background-color: #fff;
  }
  &::before {
    bottom: 10px;
  }
  &::after{
    top: 10px;
  }
}

.main-header__menu-btn {
  margin: 13px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.main-name__menu-btn {
  margin-top: 25px;
  margin-bottom: 36px;
  margin-left: 16px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-list__menu-btn {
  margin-top: 25px;
  margin-bottom: 57px;
  margin-left: 16px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
